<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  {{ style('login.css') }}
</head>
<body>
  <div class="login">
    <h1>Entrar</h1>
    <form action="/" method="POST">
      <input type="text" placeholder="Email" name="email">
      <input type="password" placeholder="Senha" name="password">

      <button type="submit">Entrar</button>
    </form>
  </div>

  Novo no sistema? <a href="/cadastro">Cadastre-se</a>
  <p id="erro" >{{ erro }}</p>
</body>
</html>
